.body {
    background-color: #737373;
}
.navbar-collapse {
    justify-content: flex-end !important;
    display: flex !important;
}
.nav-link {
    font-size: 2rem !important;
    color: rgba(217, 217, 217, 0.91);
}
.navbar-nav {
    width: 71%;
    justify-content: space-around;
}
.navbar-brand {
    font-size: 2.8rem !important;
    color: rgba(217, 217, 217, 0.91);
}
.header {
    position: fixed;
    width: 100%;
}
.i1 {
    width: 100%;
    height: 100%;
}
.h2 {
    text-align: center;
    font-size: 2.3rem;
}
